In [3]:
import pandas as pd
import numpy as np
import yfinance as yf

symbol = 'NVDA'
start = '2024-01-01'
end = '2024-06-30'

# Create a Ticker object
ticker = yf.Ticker(symbol)

# Download the data
data = ticker.history(start=start, end=end)
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-02 00:00:00-05:00,49.237647,49.288639,47.588861,48.161785,411254000,0.0,0.0
2024-01-03 00:00:00-05:00,47.478874,48.177781,47.313894,47.562862,320896000,0.0,0.0
2024-01-04 00:00:00-05:00,47.760837,48.493744,47.501871,47.991810,306535000,0.0,0.0
2024-01-05 00:00:00-05:00,48.455748,49.540607,48.299766,49.090664,415039000,0.0,0.0
2024-01-08 00:00:00-05:00,49.505614,52.268258,49.472617,52.246258,642510000,0.0,0.0
...,...,...,...,...,...,...,...
2024-06-24 00:00:00-04:00,123.239998,124.459999,118.040001,118.110001,476060900,0.0,0.0
2024-06-25 00:00:00-04:00,121.199997,126.500000,119.320000,126.089996,425787500,0.0,0.0
2024-06-26 00:00:00-04:00,126.129997,128.119995,122.599998,126.400002,362975900,0.0,0.0
2024-06-27 00:00:00-04:00,124.099998,126.410004,122.919998,123.989998,252571700,0.0,0.0
2024-06-28 00:00:00-04:00,124.580002,127.709999,122.750000,123.540001,315516700,0.0,0.0

In [4]:
data['Close'].describe()

count    124.000000
mean      87.015676
std       21.466512
min       47.562862
25%       72.209932
50%       87.624302
75%       94.298756
max      135.580002
Name: Close, dtype: float64